.Description
    display flex
    width 100%
    height 100%
    justify-content center
    flex-direction column

    &-text
        font-family VeraMono
        font-size 20px
        color white
        padding 30px