html, body
    margin 0
    padding 0

@font-face
    font-family VeraMono
    font-style normal
    src url(fonts/VeraMono.woff)

@font-face
    font-family Ormont
    font-style normal
    src url(fonts/Ormont_Light.otf)

@font-face
    font-family OrmontOutline
    font-style normal
    src url(fonts/Ormont_Outline.otf)

@require 'stylus/colors'
@require 'stylus/neon'
@require 'stylus/app'
@require 'stylus/header'
@require 'stylus/footer'
@require 'stylus/description'
@require 'stylus/trailer'